<div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel" >Cart</h5>

    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body" id="modal-body">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12" style="overflow: auto; height: 70vh;">
                <table class="table table-image">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${cart.getProducts()}">
                        <th scope="row" th:text="${item.id}"></th>
                        <td th:text="${item.quantity}"></td>
                        <td th:text="${item.product.price}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" onclick="createOrder()">Create order</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>