<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Microservice Client</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Microservice Client eCommerce - Home</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/orderView">Order <span class="sr-only"></span></a>
                </li>
            </ul>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" onclick="onClickCart()">Cart</button>
    </nav>
    <div class="row">
        <div th:each="product : ${products}" class="col-md-4 my-1">
            <a th:href="@{|/productDetail/${product.id}|}" >
                <img th:src="${product.illustration}" class="card-img-top" />
                <p th:text= "${product.name}"></p>
            </a>
        </div>
    </div>
</div>

<div class="modal"  id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="modal-content">

        </div>
    </div>
</div>
</body>

<script th:inline="javascript">

    const modal = new bootstrap.Modal(document.getElementById('modal'), {});
    const modalBody = document.getElementById('modal-content');

    function onClickCart(){
        $.ajax({
            type:'GET',
            contentType:'application/json',
            url:'/cartView',
            success:function(htmldata){
                modalBody.innerHTML=htmldata;
                modal.show();
            }
        })
    }

    function createOrder(){
        $.ajax({
            type:'POST',
            contentType:'application/json',
            url:'/order',
            success:function(){
                window.location.replace("/orderView");
            }
        })
    }

</script>
</html>